*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

 video{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;

 }
 
.page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page1 img{
    
    width: 70vw;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
    
}
.page1 h3{
    padding-top: 50px;
    font-size: 5vw;
    position: relative;
    display: flex;
    
}
.page1 p{
    color: white;
}
.page1 h2{
    font-size: 30px;
    padding-bottom: 20px;
    color: black;
    
}
.card{
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin: 20px 20px 20px 20px;
    
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card1{
    background-image: url(/drone.png);
}
#card2{
    background-image: url(/card3.jpeg);
}
#card3{
    background-image: url(/card2.jpeg);
}
.card:hover{
    opacity: 1;
}
.overlay{
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    opacity: 0;
    border-radius: 10px;
    
}
.overlay:hover{
    opacity: 1;
}
@media (max-width:800px) {
    .card-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        
    }
    .cards{
        margin: 0px;
    }
    

    .overlay{
        padding: 1vw;
    }
    .page1 h3{
        padding-top: 30vw;
    }
  

}

    


